# SPDX-License-Identifier: GPL-3.0-or-later
*.a
*.d
*.html
*.info
*.o
*.txt
*.version
config.*
!config.tmph
!config.tmpmk
!config.tmpsh
!doc/config.tmpi
gdiot-*
!gdiot-*.c
!gdiot-*.texi
/src/gdiotversion.h
